.insta-icon{
    font-size: 20px;
    color:#e55353;
}
.fb-icon{
    font-size: 20px;
    color:#e55353;
  
}
.youtube-icon{
    font-size: 20px;
    color:#e55353;
   
}
.google-icon{
    font-size: 20px;
    color:#e55353;
}